/* Define some variables used in multiple places */
//@background: #1d1f21;
@background: #2d2e30;
@foreground: #ddd;

// TODO name there using function, not appearance
@light: #ABB2BF;
@red: #e06870;
@purple: #b77fdb;
@orange: #D19A66;

/* General */

span.cm-header      { color: @light; }
span.cm-variable	{ color: @light; }
span.cm-link		{ color: @purple; }
span.cm-string-2    { color: #98C379; }
span.cm-meta		{ color: @light; }
span.cm-variable-3	{ color: #64B6C3; }
span.cm-comment		{ color: #667689; }
span.cm-error		{ color: @red; }

/* CSS, LESS */
.cm-m-css.cm-tag { color: #D86C74; }
.cm-m-css.cm-property { color: @light; }
.cm-m-css.cm-number { color: @orange; }
.cm-m-css.cm-atom { color: #64B6C3; }
.cm-m-css.cm-string { color: #98C379; }
.cm-m-css.cm-builtin { color: #6CAFF2; }
.cm-m-css.cm-qualifier { color: #CD9A61; }

/* HTML, XML */
.cm-m-xml.cm-tag.cm-bracket { color: @light; }
.cm-m-xml.cm-tag { color: #D86C74; }
.cm-m-xml.cm-attribute { color: @orange; }
.cm-m-xml.cm-string { color: #98C379; }

/* Javascript */
.cm-m-javascript.cm-keyword { color: #D86C74; }
.cm-m-javascript.cm-def { color: #6CAFF2; }
.cm-m-javascript.cm-operator { color: @light; }
.cm-m-javascript.cm-string { color: #98C379; }
.cm-m-javascript.cm-number { color: @orange; }
.cm-m-javascript.cm-variable-2 { color: #C678DD; }
.cm-m-javascript.cm-property { color: @light; }
.cm-m-javascript.cm-atom { color: #64B6C3; }
.cm-m-javascript.cm-string.cm-property { color: @red }

/* PHP */
.cm-m-clike.cm-keyword { color: #C678DD; }
.cm-m-clike.cm-def { color: @orange; }
.cm-m-clike.cm-variable-2 { color: #D86C74; }
.cm-m-clike.cm-operator { color: @light; }
.cm-m-clike.cm-string { color: #98C379; }
.cm-m-clike.cm-atom { color: #64B6C3; }
.cm-m-clike.cm-number { color: @orange; }
.cm-m-clike.cm-builtin { color: #6CAFF2; }

/* Code Styling */

.CodeMirror, .CodeMirror-scroll {
    background-color: @background;
    color: @foreground;
}

.CodeMirror-focused .CodeMirror-activeline-background {
    background: #2f2f2f;
}

.show-line-padding .CodeMirror-focused .CodeMirror-activeline-background {
    box-shadow: inset 15px 0 0 0 #000;
}

.CodeMirror-focused .CodeMirror-activeline {
    .CodeMirror-gutter-elt {
        background: rgba(0, 0, 0, 0.2);
        color: #fff;
    }
    .inline-widget .CodeMirror-gutter-elt {
        color: #767676;
    }
}

.cm-atom, .cm-string, .cm-string-2, .cm-hr { color: #d89333; }
.cm-number, .cm-attribute, .cm-plus { color: #85a300; }
.cm-def, .cm-property { color: #b77fdb; }
.cm-variable,
.cm-variable-3,
.cm-operator,
.cm-meta,
.cm-bracket {
    color: @foreground;
}
.cm-variable-2 {
    // among other things, this is the vairbale type in less
    color: @red;
}
.cm-comment { color: #767676; }
.cm-error, .cm-minus { color: #dc322f; }
.cm-header { color: #d85896; }
.cm-rangeinfo { color: #6c71c4; }
.cm-qualifier, .cm-builtin, .cm-tag, .cm-quote { color: #6c9ef8; }
.cm-keyword {
    color: @purple;
}

/* Extra CSS */

.CodeMirror-searching {
    background-color: #d3cd69;

    &.searching-current-match {
        background-color: #f6a644;
    }
}

.CodeMirror-cursor {
    border-left: 1px solid #528BFF !important;
}

.CodeMirror-gutters {
    background-color: @background;
    border-right: none;
}

.CodeMirror-linenumber {
    color: #767676;
}

.CodeMirror .CodeMirror-selected {
    background: desaturate(fadeout(#0050a0, 50), 80);
}
.CodeMirror-focused .CodeMirror-selected {
    background: fadeout(#0050a0, 50);
}

.CodeMirror-matchingbracket, .CodeMirror-matchingtag {
    /* Ensure visibility against gray inline editor background */
    background-color: #2e5c00;
    color: @foreground !important;
}

.CodeMirror-overwrite .CodeMirror-cursor {
    border-bottom: 1px solid #528BFF !important;
    border-left: none !important;
}

.CodeMirror {
    line-height: 1.4;

    .CodeMirror {
        background: transparent;
    }

    .CodeMirror .CodeMirror-gutters {
        background: transparent;
        border-right: none;
    }

    .CodeMirror .CodeMirror-activeline-background {
        background: transparent;
    }

    .CodeMirror .CodeMirror-activeline .CodeMirror-gutter-elt {
        background: transparent;
        color: #767676;
    }

    .CodeMirror-focused .CodeMirror-activeline-background {
        background: #2f2f2f;
    }

    .CodeMirror-focused .CodeMirror-activeline {
        .CodeMirror-gutter-elt {
            background: rgba(0, 0, 0, 0.2);
            color: #fff;
        }
    }
}

.CodeMirror-foldgutter-open:after {
    color: #666;
}
.CodeMirror-foldgutter-folded:after {
    color: #aaa;
}

.CodeMirror.over-gutter, .CodeMirror-activeline {
    .CodeMirror-foldgutter-open:after {
        color: #888;
    }
}

.CodeMirror-foldmarker {
    border-color: #000;
    color: #ccc;
    background-color: #444;
}

/* Non-editor styling */

.image-view,
.not-editor {
    background-color: @background;
}

.view-pane .image-view {
    color: @foreground;
}
