/* Define some variables used in multiple places */
//@background: #1d1f21;
@background: #2d2e30;
@foreground: #e5e5e5;

// TODO name there using function, not appearance
@light: @foreground;
@medium: darken(@foreground, 35);
@red: #ea5e68;
@purple: #C678DD;
@orange: #D19A66;
@blue: #6CAFF2;

@gutter-text: @medium;
@cursor: #528BFF;
@selection: #0050a0;
@string: #98C379;

@atom: #64B6C3;

/* General */

span.cm-header      { color: @light; }
span.cm-variable	{ color: @light; }
span.cm-link		{ color: @purple; }
span.cm-string-2    { color: @string; }
span.cm-meta		{ color: @light; }
span.cm-variable-3	{ color: @atom; }
span.cm-comment		{ color: @medium; }
span.cm-error		{ color: @red; }

.cm-atom { color: @atom; }
.cm-string, .cm-string-2, .cm-hr { color: #d89333; }
.cm-number, .cm-attribute, .cm-plus { color: #85a300; }
.cm-def, .cm-property { color: #b77fdb; }
.cm-variable,
.cm-variable-3,
.cm-operator,
.cm-meta,
.cm-bracket {
    color: @foreground;
}
.cm-variable-2 {
    // among other things, this is the varibale type in less
    color: @red;
}
.cm-comment { color: @medium; }
.cm-error, .cm-minus { color: #dc322f; }
.cm-header { color: #d85896; }
.cm-rangeinfo { color: #6c71c4; }
.cm-qualifier, .cm-builtin, .cm-tag, .cm-quote { color: #6c9ef8; }
.cm-keyword {
    color: @purple;
}

/* CSS, LESS */
.cm-m-css.cm-tag { color: @red; }
.cm-m-css.cm-property { color: @light; }
.cm-m-css.cm-number { color: @orange; }
.cm-m-css.cm-atom { color: @atom; }
.cm-m-css.cm-string { color: @string; }
.cm-m-css.cm-builtin { color: #6CAFF2; }
.cm-m-css.cm-qualifier { color: @orange; }

/* HTML, XML */
.cm-m-xml.cm-tag.cm-bracket { color: @light; }
.cm-m-xml.cm-tag { color: #D86C74; }
.cm-m-xml.cm-attribute { color: @orange; }
.cm-m-xml.cm-string { color: @string; }

/* Javascript */
.cm-m-javascript.cm-keyword { color: @purple; }
.cm-m-javascript.cm-def { color: @blue; }
.cm-m-javascript.cm-operator { color: @light; }
.cm-m-javascript.cm-string { color: @string; }
.cm-m-javascript.cm-number { color: @orange; }
.cm-m-javascript.cm-variable { color: @blue; }
.cm-m-javascript.cm-variable-2 { color: @purple; }
.cm-m-javascript.cm-property { color: @light; }
.cm-m-javascript.cm-atom { color: @atom; }
.cm-m-javascript.cm-string.cm-property { color: @red }

/* PHP */
.cm-m-clike.cm-keyword { color: @purple; }
.cm-m-clike.cm-def { color: @orange; }
.cm-m-clike.cm-variable-2 { color: #D86C74; }
.cm-m-clike.cm-operator { color: @light; }
.cm-m-clike.cm-string { color: @string; }
.cm-m-clike.cm-atom { color: @atom; }
.cm-m-clike.cm-number { color: @orange; }
.cm-m-clike.cm-builtin { color: #6CAFF2; }

/* Code Styling */
.CodeMirror, .CodeMirror-scroll {
    background-color: @background;
    color: @foreground;
}

.CodeMirror-focused .CodeMirror-activeline-background {
//    background: #2f2f2f;
}

.show-line-padding .CodeMirror-focused .CodeMirror-activeline-background {
    box-shadow: inset 15px 0 0 0 #000;
}

.CodeMirror-focused .CodeMirror-activeline {
    .CodeMirror-gutter-elt {
        background: rgba(0, 0, 0, 0.2);
        color: #fff;
    }
    .inline-widget .CodeMirror-gutter-elt {
        color: @medium;
    }
}

.CodeMirror-searching {
    background-color: #d3cd69;

    &.searching-current-match {
        background-color: #f6a644;
    }
}

.CodeMirror-cursor {
    border-left: 1px solid @cursor !important;
}

.CodeMirror-gutters {
    background-color: @background;
    border-right: none;
}

.CodeMirror-linenumber {
    color: @gutter-text;
}

.CodeMirror .CodeMirror-selected {
    background: desaturate(fadeout(@selection, 50), 80);
}
.CodeMirror-focused .CodeMirror-selected {
    background: fadeout(@selection, 50);
}

.CodeMirror-matchingbracket, .CodeMirror-matchingtag {
    /* Ensure visibility against gray inline editor background */
    background-color: fadeout(@foreground, 70);
    color: @foreground !important;
}

.CodeMirror-overwrite .CodeMirror-cursor {
    border-bottom: 1px solid @cursor !important;
    border-left: none !important;
}

.CodeMirror {
    .CodeMirror {
        background: transparent;
    }

    .CodeMirror .CodeMirror-gutters {
        background: transparent;
        border-right: none;
    }

    .CodeMirror .CodeMirror-activeline-background {
        background: transparent;
    }

    .CodeMirror .CodeMirror-activeline .CodeMirror-gutter-elt {
        background: transparent;
        color: @medium;
    }

    .CodeMirror-focused .CodeMirror-activeline-background {
        background: #2f2f2f;
    }

    .CodeMirror-focused .CodeMirror-activeline {
        .CodeMirror-gutter-elt {
            background: rgba(0, 0, 0, 0.2);
            color: #fff;
        }
    }
}

.CodeMirror-foldgutter-open:after {
    color: @gutter-text;
}
.CodeMirror-foldgutter-folded:after {
    color: @gutter-text;
}

.CodeMirror.over-gutter, .CodeMirror-activeline {
    .CodeMirror-foldgutter-open:after {
        color: @gutter-text;
    }
}

.CodeMirror-foldmarker {
    border-color: fadeout(@foreground, 80);
    color: @foreground;
    background-color: @background;
}

/* Non-editor styling */

.image-view,
.not-editor {
    background-color: @background;
}

.view-pane .image-view {
    color: @foreground;
}
